<a 
 href="https://colab.research.google.com/github/Code-Parth/Learn-Python-Course/blob/master/CoLab/Chapter-02/02-Lesson-Type_Conversion.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Type Conversion
- More about formatted strings
- Types are not the same
- Convert them with **int(), float(), str()**

In [8]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
print(f"You were born in {birth_year}.")

Hello Parth!
You were born in 2001.

In [9]:
type(birth_year)

str

In [10]:
int(birth_year)

2001

In [29]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birht year? ")
birth_year = int(birth_year)
print(f"You are {2022 - int(birth_year)} old!")

Hello Parth!
You are 20 old!

In [19]:
int("30")

30

In [20]:
int(" -4")

-4

In [21]:
float("2")

2.0

In [22]:
float("3.14")

3.14

In [23]:
float(3)

3.0

In [24]:
s = "This is a string"
i = 7

In [26]:
s + i

TypeError: can only concatenate str (not "int") to str

In [27]:
s + str(i)

'This is a string7'